<h1>Thank you!</h1>
<p>We will send your dream interpretation in few minutes.</p>

<h2 style="margin-top:4rem">Check Your Email Inbox</h2>
<p>For your convenience, here are links to four of the most popular email providers below. Click the one you use to check your email now!</p>

<div class="mails">
<a href="http://mail.aol.com/" target="_blank" rel="noopener"><img src="./img/aol.svg"></a>
<a href="http://mail.yahoo.com/" target="_blank" rel="noopener"><img src="./img/yahoo.svg"></a>
<a href="http://www.gmail.com/" target="_blank" rel="noopener"><img src="./img/gmail.svg"></a>
<a href="http://www.outlook.com/" target="_blank" rel="noopener"><img src="./img/outlook.svg"></a>
</div>