<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><? if(!empty($title)):echo $title;else:?>Enter Your Dreams<?endif;?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

     
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
   

    <meta name="description" content="<? if(!empty($description)):echo $description;else:?>Enter your dreams is the number one free online source you need to discover the meanings to your dreams and learn about your deep secrets and hidden feelings.<?endif;?>"> 
    <meta name="keywords" content="dreams,interpretation,dream,hidden feelings,secrets">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#132d40">
    <meta name="msapplication-TileColor" content="#132d40">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#132d40">
</head>
  
<body class="admin">
    
        <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
                <a class="navbar-brand" href="#">Admin</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/admin/terms">Terms</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0"> 
                      <a class="btn btn-outline-secondary" href="/admin/logout">Logout</a>&nbsp; 
                      <a class="btn btn-outline-secondary" href="/">PUBLIC SITE</a>
                  </form>
                  
                  </ul>
                  
                </div>
        </nav>    