<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><? if(!empty($title)):echo $title;else:?>Enter Your Dreams<?endif;?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/enteryourdreams.css" rel="stylesheet"/>

 

    <meta name="description" content="<? if(!empty($description)):echo $description;else:?>Enter your dreams is the number one free online source you need to discover the meanings to your dreams and learn about your deep secrets and hidden feelings.<?endif;?>"> 
    <meta name="keywords" content="dreams,interpretation,dream,hidden feelings,secrets">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#132d40">
    <meta name="msapplication-TileColor" content="#132d40">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#132d40">
</head>
  
<body <? if(!empty($bodyClass)):?>class="<?= $bodyClass; ?>"<? endif; ?>>
<div class="content">
    <a class="logo" href="/"><img src="/img/enter_your_dreams.svg" title="Enter Your Dreams"/></a>