 <div class="container-fluid">

    <h2 class="mt-5" style="border-bottom:1px solid #ccc">Add a new terms / interpretation</h2>
    <div class="container">
      <form class=" mt-5" method="POST">
            
          <? if(!empty($input['errors'])):?>
            <div class="alert alert-danger mb-5" role="alert">
              <?= implode('<br/>', $input['errors']); ?>
            </div>
          <? endif; ?>

          <input type="hidden" value="1" name="sub"/>
          <div class="form-group">
              <label for="terms"><strong>Forms of the term (separated with commas)</strong></label>
              <input type="text" name="terms" class="form-control" id="terms" placeholder="Ex: cheater, cheating, cheat, cheats, cheated,...">
          </div>
          <div class="form-group">
              <label for="inter"><strong>Interpretation</strong></label>
              <textarea class="form-control" name="inter" id="inter" placeholder="Ex: To dream of being cheated in business, you will meet designing people who will seek to close your avenues to fortune. For young persons to dream that they are being cheated in games, portend they will lose their sweethearts through quarrels  and  misunderstand ings."></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Add the term</button>
          </div> 
        </form>
    </div>
 

    <h2 class="mt-5" style="border-bottom:1px solid #ccc">Current terms / interpretations</h2>

    <table class="table table-condensed">
        <thead>
            <th>Terms</th>
            <th>Interpretation</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            <? foreach($input['defs'] as $def):?>
              <tr>
                  <td><?=  $def['terms']; ?></td>
                  <td><?=  $def['inter']; ?></td>
                  <td style="white-space: nowrap;">
                      <button class="btn btn-danger">Delete</button>
                      <button class="btn btn-secondary">Edit</button>
                  </td>
              </tr>
            <? endforeach; ?>
        </tbody>


    </table>
 </div>